body {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
 
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
/* .icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
} */

/* title */
.containerTitle {
  padding-bottom: 24px!important;
}

.titleRow {
  padding-bottom: 0!important;
}

/* featres */
#features {
  background-color: white;
}

.featureRow {
  padding-top: 72px!important;
}

/* testimonials */
.dogTestimonialImage {
  border-radius: 50%;
  margin: 3rem auto 0.5rem;
  height: 100px;
}

.testimonialImages {
  height: 30px;
}

/* pricing*/
#pricing {
  background-color: white;
}

.containerPricing {
  padding-top: 3rem!important;
  padding-bottom: 2rem!important;
}

/* footer*/
